<div class="page_title">
  <h2 class="title">Message list</h2>
</div>

<div class="message_list">
  <% messages.each do |msg| %>
  <div class="msg">
    <h3 class="msg_title"><%= msg.title %></h3>
    <p class="msg_to_name"><%= msg.to_name %>さんへのメッセージ</p>
    <div class="btn">
      <%= link_to '編集', edit_message_path(msg.id), class: "edit_btn"%>
      <%= link_to '削除', message_path(msg.id), method: :delete, class: "delete_btn"%>
    </div>
  </div>
  <% end %>
</div>
