<div class="headbar bk_pink">
  <div id="humberger">
    <button id="btn-humberger"><i class="fas fa-angle-double-left"></i></button>
  </div>
  <div class="title">
    <h1><a href="/">Happiness Calendar</a></h1>
  </div>
</div>