<div class="headbar bk_pink">
  <div id="humberger">
    <button id="btn-humberger"><i class="fas fa-angle-double-right"></i></button>
  </div>
  <div class="title">
    <h1>Happiness Calendar</h1>
  </div>
</div>