body{  background-color: rgba(220,220,220,0.8);  }
.bk_pink{ background-color: rgba(225, 192, 203, 1.0);  }
.bk_gray{ backgound-color: rgba(90,90,90, 0.8); }

/*headbar*/
#btn-humberger{ outline: none;  }
#btn-humberger:hover{
  background-color: rgba(120,120,120,0.8);
  
  i{ color: white; }
}
.title h1 a{
  text-decoration: none;
  color: black;
}

/*leftbar*/
#leftbar{  border: solid #aaa 1px; }
#leftbar ul li{
  list-style: none;
  a{  
    color: black;  
    text-decoration: none;
  }
}
#leftbar ul li:hover{
  background-color: rgba(120,120,120,0.8);  
  a{ color: white;}
}

/*contents*/
#contents{  border: solid #aaa 1px;}

/*devise page*/
.page_form, .msg{  
  border: solid rgba(225, 192, 203, 1.0) 2px;
  background-color: rgba(224,255,255,0.4); 
}

.actions button[type="submit"]{
  box-shadow: 0px 4px 3px black;
  outline: none;
  color: blue;
}

.actions button[type="submit"]:active{
  box-shadow: 0px 0px;
}

.light_roll_shape{
  border: solid #000 1px;
  border-radius: 10px;
  box-shadow: 0px 4px 3px black;
}

/*calendar*/
.calendar{
  table{
        tr th{ 
          border: solid #000 2px; 
          border-bottom: double #000 2px;
        }
        tr td{  border: solid #000 2px;  }
  }
}

.sunday,.wday-0{  
  color: rgb(255,0,102);  
  background-color: rgba(225, 192, 203, 1.0);
}
.saturday,.wday-6{  
  color: rgb(50,50,255);  
  background-color: rgba(173, 216, 230, 1.0);
}
.wday-0 p{  color: rgb(255,0,102);  }
.wday-6 p{  color: rgb(50,50,255);  }

.daybox{
  .show,.new{
    border: solid #777 1px;
    text-decoration: none;
    color: black;
  }
  .show{
    background-color: rgba(225, 192, 203, 1.0);
  }
  .new{
    background-color: rgba(173, 216, 230, 1.0);
    
  }
}
.daybox:hover{  background-color: rgba(105,105,105, 0.8);  }
.prev p, .next p{
  opacity: 0.3;
}
.delete_btn{
  background-color: rgba(120,120,120,0.8);
  color: white;
  
  text-decoration: none;
}
.edit_btn{
  background-color: rgba(225, 192, 203, 1.0);
  color: black;
  text-decoration: none;
}

