.title{  font-family: serif;  }
.menu{  
  font-family: serif;  
  font-size: 20px;
  font-weight: bold;
}
.actions button, .msg_title{
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
}
.page_shared_links a{
  font-family: serif;
}