/*headbar*/
.headbar{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#humberger{  
  margin: 0px 30px;  
  height: 50px;
  width: 50px;
}
#btn-humberger{
  border: solid #00bfff 2px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

/*main contents*/
#main{
  height: 100vh;
  width: 100%;
  display: flex;
}
#leftbar{
  height: 100%;
  width: 300px;
}
#leftbar ul{  width: 300px;  }

#leftbar ul li{
  padding: 10px 0px 10px 50px;
  width: inherit;
  margin-left: -40px;
  box-sizing: border-box;
}
#leftbar ul li a{  
  display: block;
  width: 300px;
  height: 100%;
}

#contents{
  height: 100%;
  width: 100%;
  min-width: 760px;
  border: solid #0f0 2px;
}

/*devise page*/
.page_title{
  margin: 30px auto 30px 120px; 
}

.page_form{
  margin: 30px auto 30px 120px;
  width: calc(100% - 360px);
  min-width: 460px;
  padding: 50px;
  border: solid #f00 2px;
}
