/*headbar*/
.headbar{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
#humberger{  
  margin: 0px 30px;  
  height: 50px;
  width: 50px;
}
#btn-humberger{
  border: solid #00bfff 2px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

/*main contents*/
#main{
  height: 100vh;
  width: 100%;
  display: flex;
}
#leftbar{
  height: 100%;
  width: 300px;
}
#leftbar ul{  width: 300px;  }

#leftbar ul li{
  padding: 10px 0px 10px 50px;
  width: inherit;
  margin-left: -40px;
  box-sizing: border-box;
}
#leftbar ul li a{  
  display: block;
  width: 300px;
  height: 100%;
}

#contents{
  height: 100%;
  width: 100%;
  min-width: 760px;
  border: solid #0f0 2px;
  padding-right: 50px;
  padding-bottom: 50px;
  overflow: auto;
}

/*devise page*/
.page_title{
  margin: 30px auto 30px 120px; 
}

.page_form{
  margin: 30px auto 30px 120px;
  width: calc(100% - 360px);
  min-width: 460px;
  padding: 50px;
  border-radius: 5px;
}

.field{
  margin-bottom: 40px;
}

.field input[type="text"], .field input[type="email"], .field input[type="password"]{
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  border-radius: 5px;
}
.actions button[type="submit"]{
  padding: 5px;
  height: 50px;
  width: 100%;
  border-radius: 20px;
}  
.page_shared_links{
  margin: 30px auto 30px 120px;
  display: flex;
}
.page_shared_links a{
  margin-right: 50px;
}
.del_link{
  margin-left: 120px;
  margin-bottom: 30px;
}

/*calendar*/
.date,.change,.calendar{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 120px;
}
.change a{
  margin-right: 30px;
}
.calendar{
  margin-right: auto;
  width: 90%;
  height: 100%;
  table{
    width: 100%;
    height: 100%;
    
    tr th{ 
      height: 20px; 
      padding-left: 7px;
    }
    tr td{
      .daybox{  
        padding: 10px;
        width: 100%;
        height: 130px;
        position: relative;
        
        .edit, .new{
          display: none;
          width: 40%;
          position: absolute;
          text-align: center;
          bottom: 0;
          margin-right: auto;
          margin-bottom: 7px;
          border-radius: 10px;
        }
        .edit{ left: 7px;  }
        .new{  right: 7px;  }
      }
      .daybox:hover{
        .edit, .new{ display: inline-block;}
      }
      
    }
  }
}